
.teachers {
  padding: 0 20px 50px;

  .carousel {
    margin: 0 auto;
    max-width: 1170px;
    padding-top: 30px;
    padding-bottom: 100px;

    @media (max-width: 550px) {
      padding-bottom: 50px;
    }

    &__item {}

    &__photo {
      height: 210px;
      border-radius: 9px;
    }

    &__name {
      padding: 43px 0 32px;
      font-size: 20px;
      line-height: 26px;
      font-weight: 800;
      text-align: center;
      color: $highlightedFont;
    }

    &__description {
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }
  }
}